@font-face {
  font-family: Tanker;
  src: url('../../public/fonts/Tanker-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Sharpie;
  src: url('../../public/fonts/Sharpie-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Plus;
  src: url('../../public/fonts/Plus-Jakarta-Sans-Font/PlusJakartaSans-VariableFont_wght.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
