@import './Styles/header.scss';
@import './Fonts/fonts.scss';
@import './Styles/utils/mixins';
@import './Styles/utils/vars';
@import './Styles/nav.scss';
@import './Styles/loader.scss';
@import './Styles/main.scss';
@import './Styles/section.scss';
@import './Styles/footer.scss';

body {
  margin: 0;
  background: #0a0a0a;
  font-family: Tanker;
  color: #000;
}

.page {
  &__line {
    @include on-tablet {
      z-index: -5;

      position: fixed;
      top: 0;
      right: 50%;

      width: 1px;
      height: 100vh;

      background-color: #1D1D1D;
      box-shadow: 0 0 5px 0 #1D1D1D;
    }
  }
}